@define-color clear rgba(0, 0, 0, 0.0);
@define-color mauve #cba6f7;
@define-color background #1e1e2e;
@define-color foreground #313244;

window {
    margin: 5px;
    background-color: @clear;
}

#outer-box {
    margin: 5px;
    border: 2px solid @mauve;
    background-color: @background;
    border-radius: 10px;
}

#input {
    margin: 10px;
    /*border: 2px solid blue;*/
    background-color: @background;
}

#inner-box {
    margin: 5px;
    /*border: 2px solid yellow;
    background-color: yellow;*/
}

#scroll {
    margin: 5px;
    /*border: 2px solid orange;
    background-color: orange;*/
}

#text {
    margin: 5px;
    /*border: 2px solid cyan;
    background-color: cyan;*/
}

#entry:selected {
    background-color: @mauve;
} 

#text:selected {
    color: @background;
}